[Service]
Environment=SSH_AUTH_SOCK=/run/ssh-agent.socket
ExecStart=socat 'EXEC:npiperelay.exe -p //./pipe/openssh-ssh-agent' UNIX-LISTEN:${SSH_AUTH_SOCK}

[Install]
WantedBy=default.target
